<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Flasky{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {{ bootstrap.load_css() }}
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container justify-content-start">
            <a class="navbar-brand" href="{{ url_for('index') }}">Flasky</a>
            <a class="nav-link text-light" href="{{ url_for('index') }}">Home</a>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    <main class="container mt-4">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </main>
    {% endblock %}

    {% block scripts %}
    {{ bootstrap.load_js() }}
    {{ moment.include_moment() }}
    {% endblock %}
</body>
</html>
